<%- include('./partials/header.ejs') %>
<div class="container mt-5">
  <h1 class="text-red">About Page</h1>
  <p class="text-red">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nulla saepe
    magni commodi modi aliquam, sint labore minus, adipisci, autem placeat
    eligendi ipsam aut vel eum id facere velit odio ab. Error, nam doloremque.
    Quas debitis est quae dolores excepturi tempora molestias rerum ab quis
    libero blanditiis laboriosam exercitationem ea, similique odio explicabo
    quam, sunt accusamus corporis nisi dolorem modi, aliquam ipsam iste!
    Praesentium inventore voluptas obcaecati? Facere culpa exercitationem vitae
    quis aut voluptate amet dignissimos facilis placeat libero optio quo,
    voluptas molestiae dolorum ab doloribus delectus molestias dolorem esse
    dolores necessitatibus numquam. Adipisci nemo veniam necessitatibus sequi
    sint veritatis.
  </p>
  <p class="text-red">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum illo alias
    quia soluta repellat asperiores ipsum, fugit, atque molestiae nulla corrupti
    nam provident veniam esse dignissimos quae at laboriosam rerum odit? Est
    itaque, praesentium tempore veniam a, vero iure sed cumque deleniti
    exercitationem repudiandae facere vel suscipit esse ratione adipisci!
  </p>
</div>
<%- include('./partials/footer.ejs') %>
